@model DayOut.Models.SelectCategoriesViewModel
@{
    ViewData["Title"] = "SelectCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:3em">
    <center>
        @if (ViewBag.HasSelected == true)
        {
            <h2>Selected Categories</h2>
            <hr />
            <table>
                <tr></tr>
                @foreach (var item in Model.Selected)
                {
                    if (item != null)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-default btn-large" style="width:500px">@Html.Raw(item)</button>
                            </td>

                        </tr>
                    }
                }
            </table>
        }
        @if (ViewBag.TimeLeft == false)
        {
            <div>
                <h3 style="color:red">You are out of time.</h3>
            </div>
        }
        @if (ViewBag.TimeLeft == true && ViewBag.OptionsLeft == true)
        {
            <h2>Select a Category</h2>
            <hr />
            <div>
                <table>
                    <tr></tr>
                    @foreach (var item in Model.Categories)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item, "SelectCategories", "RandomizedDay", new { selected = item }, new { @class = "btn btn-primary btn-large", style = "width:200px" })
                                </td>
                            </tr>
                        }
                    }
                </table>
                <div hidden>
                    @Html.EditorFor(model => model.Categories)
                </div>
            </div>
        }
        <div>
            <br />
            @if (ViewBag.OptionsLeft == false)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div style="float:right">
                            @Html.ActionLink("Build Route", "BuildRoute", "RandomizedDay", null, new { @class = "btn btn-success btn-large", style = "width:200px" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="float:left">
                            @Html.ActionLink("Restart", "SelectStartEndTime", "RandomizedDay", null, new { @class = "btn btn-primary btn-large", style = "width:200px" })
                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.ActionLink("Build Route", "BuildRoute", "RandomizedDay", null, new { @class = "btn btn-success btn-large", style = "width:200px" })
            }
        </div>
    </center>
</div>


