@model DayOut.Models.SelectCategoriesViewModel
@{
    ViewData["Title"] = "SelectCategoriesStructured";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div style="padding-top:3em">
    <center>
        @if (ViewBag.HasSelected == true)
        {
            <h2>Day Plan</h2>
            <hr />
            <table>
                <tr></tr>
                @for (int i = 0; i < Model.Selected.Count; i++)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    <div style="padding-top:1em">
                                        <div style="border:1px solid black; float:right; width:120px; border-radius:75px">
                                            <center>
                                                <h3>@Html.Raw(Model.PlaceTime[i])</h3>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div style="padding-top:2em">
                                        <center>
                                            <button class="btn btn-default btn-large" id="Load_Gif" style="width:200px">@Html.Raw(Model.Selected[i])</button>
                                        </center>
                                    </div>
                                </div>
   
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
        @if (ViewBag.OptionsLeft == true)
        {
            <h2>Select a Category</h2>
            <hr />
            <div>
                <table>
                    <tr></tr>
                    @foreach (var item in Model.Categories)
                    {
                        if (item != null)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item, "SelectCategoriesStructured", "StructuredDay", new { selected = item }, new { @class = "btn btn-primary btn-large", style = "width:200px" })
                                </td>
                            </tr>
                        }
                    }
                </table>
                <div hidden>
                    @Html.EditorFor(model => model.Categories)
                </div>
            </div>
        }
            <div>
                <br />
                @if (ViewBag.OptionsLeft == false)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div style="float:right">
                                @Html.ActionLink("Build Day", "DisplayRoute", "StructuredDay", null, new { @class = "btn btn-success btn-large", style = "width:200px" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="float:left">
                                @Html.ActionLink("Restart", "BuildDay", "StructuredDay", null, new { @class = "btn btn-primary btn-large", style = "width:200px" })
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.ActionLink("Build Day", "DisplayRoute", "StructuredDay", null, new { @class = "btn btn-success btn-large", style = "width:200px" })
                }
            </div>
    </center>
</div>


@*----------------------------------------------*@

<div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("LoadingGif", "StructuredDay")'></div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#Load_Gif').click(function () {

            var url = $('#myModal').data('url');
            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal('show');
            });
        });
    });

</script>